@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf') format('truetype'), url('../fonts/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mt-20 {
    margin-top: 20px;
}

.easy_youtube_gallery .eytg-item {
    margin-top: 15px;
}

/**
Woocommerce Styles
**/
.woocommerce-Tabs-panel{
    background-color: rgba(1,1,1,.3);
    padding: 15px !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    color: #fff;
    background-color: #000;
}
.woocommerce div.product form.cart .button {
    font-size: 17px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    background: #935386;
    border-bottom-color: #0f0f0f;
}
.woocommerce span.onsale{
    background: #935386;
    height: 3.236em;
    width: 3.236em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,.woocommerce div.product .woocommerce-tabs ul.tabs li::after{
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding: inherit;
}

.woocommerce ul.products li.product .price{
    color: #fff;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    border: 1px solid #504A61;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before{
    border-bottom: 1px solid #935386;
}
.woocommerce table.shop_table, .woocommerce table.shop_table td {
    border: 1px solid #ddd;
}

.woocommerce .quantity .qty {
    background: rgba(0, 0, 0, .1);
    font-size: 20px;
}

input.input-text, .woocommerce form .form-row textarea {
    min-height: 35px;
    background: transparent;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: rgba(0,0,0,.2);
}

/**
Contact Form 7 Styes
**/
/* Fields */
div#mt_cf7_240 .wpforms-form label{
    width: 100%;
}
div#mt_cf7_240 .wpforms-form input[type=date], div#mt_cf7_240 .wpforms-form input[type=datetime], div#mt_cf7_240 .wpforms-form input[type=datetime-local], div#mt_cf7_240 .wpforms-form input[type=email], div#mt_cf7_240 .wpforms-form input[type=month], div#mt_cf7_240 .wpforms-form input[type=number], div#mt_cf7_240 .wpforms-form input[type=password], div#mt_cf7_240 .wpforms-form input[type=range], div#mt_cf7_240 .wpforms-form input[type=search], div#mt_cf7_240 .wpforms-form input[type=tel], div#mt_cf7_240 .wpforms-form input[type=text], div#mt_cf7_240 .wpforms-form input[type=time], div#mt_cf7_240 .wpforms-form input[type=url], div#mt_cf7_240 .wpforms-form input[type=week], div#mt_cf7_240 .wpforms-form select, div#mt_cf7_240 .wpforms-form textarea {
    background-color: transparent; /* Remove background fill */
    text-transform: uppercase; /* Make text all uppercase */
    border-radius: 0; /* Remove corner curve */
    color: #fff; /* White text */
    height: 45px; /* Increase input height */
    width: 70%;
}
div#mt_cf7_240 .wpforms-form input[type=submit]:hover{
    background: #000;
}
div#mt_cf7_240 .wpforms-form textarea{
    height: 100px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #fff;
}
/* Button */
div#mt_cf7_240 .wpforms-form input[type=submit], div#mt_cf7_240 .wpforms-form button[type=submit], div#mt_cf7_240 .wpforms-form .wpforms-page-button {
    text-transform: uppercase;
    padding: 10px 60px;
    color: white;
    background: #444;
    font-weight: normal;
}
/**
Smaller Devices.
 */
@media (max-width: 768px) {
    .navbar {
        margin-top: 0 !important;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: none;
        background: #5F4960;
        text-align: center;
        width: 80%;
        right: 0;
        position: absolute;
        border-radius: 7px 0 0 7px;
    }
    .navbar-inverse .navbar-nav>li>a{
        border-radius: 7px 0px 0px 7px;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }

}